<section class="section section-primary-gr">
  <div class="container position-relative">
    <div class="position-absolute top-0 end-0 w-100 d-none d-xl-block">
      <div class="row align-items-center">
        <div class="col-4 offset-7">
           <!-- Something image -->
           <div id="earth" class="ml-9 mt-8">
           </div>
        </div>
      </div>
    </div>
    <header class="section-header section-header-alt section-header-sub row mb-2 mb-md-3 mb-lg-4">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7">
        <div class="section-header-body text-white">
          <div class="section-header-eyebrow">Discover My Journey</div>
          <h2 class="section-header-title text-reset mb-1">Explore my Story and Interests</h2>
          <p class="section-header-text mt-1 mb-4">Hello! I’m a passionate <b>Backend Developer</b> based in Bengaluru,
            dedicated to transforming complex challenges into elegant and scalable solutions. With a focus on creating
            robust backend systems and APIs, I excel in driving seamless digital experiences that enhance overall
            functionality and performance.
            <br>
            My software development journey began in 2020, sparked by a deep fascination with technology. This initial
            curiosity quickly evolved into a commitment to backend development, where I’ve refined my skills to design
            and implement reliable, high-performance systems.
            <br>
            <br>
            Today, I specialize in developing innovative backend solutions and optimizing data management processes. My
            goal is to boost system efficiency and ensure data integrity, providing impactful solutions that benefit
            both users and businesses. By combining technical expertise with a strategic mindset, I am dedicated to
            making complex systems more manageable and delivering outstanding results.
            <br>
            <br>
            If you were to ask me what stack I would prefer, I would say:
            <br>
            <br>
            <b>Framework :</b> Spring boot, Angular
            <br>
            <b>Database :</b> Oracle, PostgreSQL
            <br>
            <b>CSS :</b> TailwindCSS, OpentextCSS
          </p>
        </div>
      </div>
    </header>
    <ul class="list-unstyled d-flex flex-wrap position-relative mb-0">
      <li class="mr-3 mb-3">
        <a class="btn text-primary bg-white" href="https://github.com/angKafka">Github</a>
      </li>
      <li class="mr-3 mb-3">
        <a href="/resume" class="btn text-primary bg-white">Resume</a>
      </li>
    </ul>
  </div>
</section>
<section id="c05-4" class="section mt-10">
  <div class="container">
    <header class="section-header section-header-alt section-header-sub">
      <div class="section-header-body">
        <div class="section-header-eyebrow">My Top Skills</div>
        <h2 class="section-header-title">Technical<span class="text-primary-gr">Skills</span></h2>
      </div>

      <ul class="row row-1 m-2 mb-2 gap-x-3">
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Java</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Spring boot</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Hibernate ORM</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">HTML</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">CSS</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Oracle</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">PostgreSQL</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">REST</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Test Driven Development</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">COR Design Principles</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">SOLID Design Principles</h3>
        </li>
        <li>
          <h3 class="btn card-primary-gr text-white bg-white mt-5">Github</h3>
        </li>
      </ul>
    </header>
  </div>
</section>
<app-experience></app-experience>
