<section class="section section-primary-gr"  id="ot-clouds">
    <div class="container position-relative">
            <header class="section-header section-header-alt section-header-sub row mb-2 mb-md-3 mb-lg-4">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <div class="section-header-body text-white">
                        <div class="section-header-eyebrow">Work Experience</div>
                        <h2 class="section-header-title text-reset mb-1">Software Developer with 4 years of experience in the software industry</h2>
                    </div>
                </div>
            </header>
        <ul class="row row-cols-1 ">
            <li class="col hover-zoom-alt">
                <div class="card bg-white hover-zoom-alt-img">
                    <div class="card-body shadow-hover">
                        <h3 class="h5 mb-1 mb-lg-2">
                            <h4 class="h5">
                                September 2024 - Present
                            </h4>
                        </h3>
                        <h4 class="h6 mb-1 mb-lg-2">
                           <a href="https://www.testyantraglobal.com/" class="stretched-link">Accenture</a> | Full Stack Cloud Developer
                        </h4>
                        <p class="card-text">
                            •	Developed and maintained scalable data pipelines using Apache Kafka to facilitate real-time data streaming and improve system responsiveness.
                            <br>
                            •	Designed data processing workflows with Apache Beam, allowing for efficient handling of batch and stream data processing, enhancing application performance.
                            <br>
                            •	Implemented event-driven architectures using Kafka to enable robust communication between microservices, leading to improved application modularity and scalability.
                            <br>
                            •	Deployed applications on Google Cloud Platform using Dataflow for executing Beam pipelines, optimizing resource usage and reducing operational costs.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col hover-zoom-alt  mb-1 mb-lg-2">
                <div class="card bg-white hover-zoom-alt-img">
                    <div class="card-body shadow-hover">
                        <h3 class="h5 mb-1 mb-lg-2">
                            <h4 class="h5">
                                November 2021 - August 2024
                            </h4>
                        </h3>
                        <h4 class="h6 mb-1 mb-lg-2">
                           <a href="https://www.opentext.com/" class="stretched-link">OpenText</a> | Cloud Application Consultant
                        </h4>
                        <p class="card-text">
                            •	Contributed to the design and finalization of complex software applications, tackling challenging problems with innovative solutions.
                            <br>
                            •	Proficient in writing, analyzing, reviewing, and rewriting programs, leveraging extensive knowledge of computer capabilities and relevant subject matter.
                            <br>
                            •	Hands-on experience with Spring Boot, MVC, Maven, Service-Oriented Architecture (SOA), RESTful web services, microservices, Core Java, Object-Oriented Programming (OOP), and Docker.
                            <br>
                            •	Developed, deployed, and integrated microservices on AWS EC2, optimizing performance and scalability.
                            <br>
                            •	Familiar with Eclipse and Spring Tool Suite (STS) for efficient Java project development.
                            <br>
                            •	Strong analytical, coding, and debugging skills, with a solid understanding of the Software Development Life Cycle (SDLC) in Agile environments.
                            <br>
                            •	Collaborated effectively with cross-functional teams to address bug fixes and implement feature enhancements.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col hover-zoom-alt">
                <div class="card bg-white hover-zoom-alt-img">
                    <div class="card-body shadow-hover">
                        <h3 class="h5 mb-1 mb-lg-2">
                            <h4 class="h5">
                                October 2020 - October 2021
                            </h4>
                        </h3>
                        <h4 class="h6 mb-1 mb-lg-2">
                           <a href="https://www.testyantraglobal.com/" class="stretched-link">Test Yantra Global</a> | Software Engineer
                        </h4>
                        <p class="card-text">
                            •	Developed and maintained features for test automation enhancements, ensuring quality and efficiency in software testing processes.
                            <br>
                            •	Demonstrated strong teamwork abilities, perseverance, and a quick learning aptitude, adapting effectively to new challenges and responsibilities.
                            <br>
                            •	Developed and enhanced email features for sending, retrieving, and organizing emails using Microsoft Graph API, improving email functionality within applications and streamlining user communication workflows.
                            <br>
                            •	Gained valuable insights into Agile/Scrum development processes, contributing to iterative project delivery and continuous improvement.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

