<section class="section section-primary-gr"  id="ot-clouds">
    <div class="container position-relative">
            <header class="section-header section-header-alt section-header-sub row mb-2 mb-md-3 mb-lg-4">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <div class="section-header-body text-white">
                        <div class="section-header-eyebrow">Work Experience</div>
                        <h2 class="section-header-title text-reset mb-1">Software Developer with 4 years of experience in the software industry</h2>
                    </div>
                </div>
            </header>
        <ul class="row row-cols-1 ">
            <li class="col hover-zoom-alt  mb-1 mb-lg-2">
                <div class="card bg-white hover-zoom-alt-img">
                    <div class="card-body shadow-hover">
                        <h3 class="h5 mb-1 mb-lg-2">
                            <h4 class="h5">
                                November 2021 - Present
                            </h4>
                        </h3>
                        <h4 class="h6 mb-1 mb-lg-2">
                           <a href="https://www.opentext.com/" class="stretched-link">OpenText</a> | Cloud Application Consultant
                        </h4>
                        <p class="card-text">
                            •	Led the integration and automation of OTDS to enhance JWT role-based security, resulting in seamless access control and robust authentication for improved system security and user experience.
                            <br>
                            •	Enhanced the client’s validation processes by implementing the Chain of Responsibility design pattern, increasing system efficiency and reducing validation errors by 25%.
                            <br>
                            •	Tech Stack: Java, Spring Boot, Hibernate ORM, Security Enhancements, Performance Optimization
                        </p>
                    </div>
                </div>
            </li>
            <li class="col hover-zoom-alt">
                <div class="card bg-white hover-zoom-alt-img">
                    <div class="card-body shadow-hover">
                        <h3 class="h5 mb-1 mb-lg-2">
                            <h4 class="h5">
                                October 2020 - October 2021
                            </h4>
                        </h3>
                        <h4 class="h6 mb-1 mb-lg-2">
                           <a href="https://www.testyantraglobal.com/" class="stretched-link">Test Yantra Global</a> | Software Engineer
                        </h4>
                        <p class="card-text">
                            •	Optimized communication between microservices and external systems by implementing Resilience4j, increasing fault tolerance and system resilience. Configured circuit breakers, rate limiters, and retry mechanisms, reducing response times by 20% and ensuring reliable data exchange.
                            <br>
                            •	Enhanced document lifecycle management by troubleshooting and resolving issues in lifecycle state transitions, resulting in a 30% improvement in workflow automation efficiency and minimizing operational downtime.
                            <br>
                            •	Developed and enhanced email features for sending, retrieving, and organizing emails using Microsoft Graph API, improving email functionality within applications and streamlining user communication workflows.
                            <br>
                            •	Tech Stack: Java, Spring Boot, Microsoft Graph API, Oracle Database, Fault Tolerance with Resilience4j
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

