<section id="c05-4" class="section section-light-down mt-2">
  <div class="container">
    <header class="section-header section-header-alt section-header-sub">
      <div class="section-header-body">
        <div class="section-eyebrow">Works</div>
        <h2 class="section-header-title">Side
          <span class="text-primary-gr">Projects</span>
        </h2>
    </div>
    </header>
    <div class="row row-cols-1 row-cols-lg-3 row-scroll-sm row-scroll-md card-layout pt-2 pt-lg-0">
      <div class="col">
      <div class="card hover-zoom shadow shadow-hover card-primary-gr">
      <div class="hover-zoom-container position-absolute rounded w-100 h-100">
      </div>
      <div class="card-body position-relative">
      <h3 class="card-title text-black">Order App</h3>
      <p class="text-black">This repository showcases a microservices-based architecture for managing orders, built using Spring Boot and Kafka to implement an event-driven system. The project is designed to demonstrate how different services can collaborate to handle various business functionalities in a scalable and efficient manner.</p>
      <a class="stretched-link text-white" target="blank" href="https://gitlab.com/ngtrainerdeveloper/order-app-backend"><span class="more more-bold">Learn more</span></a></div>
      </div>
      </div>
      <div class="col">
      <div class="card hover-zoom shadow shadow-hover">
      <div class="card-body d-flex flex-column">
      <h3 class="card-title">Banking Management System</h3>
      <p>This Bank-Management system is a basic project developed using Spring Boot, demonstrating fundamental banking operations within a simple monolithic architecture.</p>
      <a class="stretched-link mt-auto" target="blank" href="https://gitlab.com/ngtrainerdeveloper/banking-system/-/tree/main/bank/src/main/java/org/rdutta/bank?ref_type=heads"><span class="more more-bold">Learn more</span></a></div>
      </div>
      </div>
      <div class="col">
      <div class="card hover-zoom shadow shadow-hover">
      <div class="card-body d-flex flex-column">
      <h3 class="card-title">Spring Security</h3>
      <p>This project demonstrates how to implement JWT (JSON Web Token) authentication and authorization in a Spring Boot REST API using Spring Security. The project is designed to showcase a simple and secure approach to user authentication and access control for backend APIs.
      </p>
      <a class="stretched-link mt-auto" target="blank" href="https://github.com/angKafka/jwt-access-demo/tree/main/src/main/java/org/rdutta/jwt_access_demo"><span class="more more-bold">Learn more</span></a></div>
      </div>
      </div>
      <div class="col">
      <div class="card shadow shadow-hover">
      <div class="card card-body h-100">
      <div class="card-eyebrow">PS Mailer</div>
      <h3 class="card-title">MS Graph API Integration with Java</h3>
      <p>The Microsoft Graph Secured Unified API is a powerful API that enables applications to access Microsoft 365 services like Outlook mail, OneDrive, Teams, and more through a single endpoint. When integrating with Outlook Mail or other Microsoft services, the API ensures secure access to data by leveraging Azure Active Directory (Azure AD) for authentication and authorization.</p>
      </div>
      </div>
      </div>
</div>
  </div>
  </section>