<div class="sitenav sitenav-alt sticky-top js-sitenav">
  <div class="container">
    <div class="navbar navbar navbar-expand-xl navbar-light">
    <div class="sitenav-inner">
      <a class="navbar-brand">
        <span class="navbar-font">Portfolio</span>
      </a>
      <div id="sitenav-collapse" class="sitenav-left navbar-collapse collapse navbar-nav-scroll">
       <ul class="navbar-nav">
        <li class="sitenav-dropdown-mega nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" routerLinkActive="active"><span>Home<span class="sr-only">(current)</span></span></a>
        </li>
        <li class="sitenav-dropdown-mega nav-item dropdown">
          <a class="nav-link dropdown-toggle"  routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="sitenav-dropdown-mega nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li class="sitenav-dropdown-mega nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/resume" routerLinkActive="active">Resume</a>
        </li>
        <li class="sitenav-dropdown-mega nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
       </ul>
      </div>
    </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>