<section class="section section-primary-gr">
  <div class="container position-relative">  
    <header class="section-header section-header-alt section-header-sub">
      <div class="section-header-body">
        <div class="section-header-eyebrow text-white">Greeting</div>
        <h2 class="section-header-title text-white">
          <p>Thank you for taking the time to review my resume</p>
        </h2>
        <p class="text-white">I truly appreciate your consideration and look forward to the opportunity to connect with you!</p>
        <p class="text-white">Feel free to reach out to me at for any questions.</p>
        <a href="/contact" class="btn text-primary bg-white">contact me</a>
      </div>
    </header>
  </div>
</section>

<section class="section mt-10">
  <div class="container position-relative">
    
    <div class="">
      <header class="section-header section-header-alt mb-2 mb-md-3">
        <div class="section-header-eyebrow">
          My Resume
        </div>
        <h2 class="section-header-title"><span class="text-primary-gr">Career</span> vission</h2>
        </header>
      <iframe src="../../assets/resume-document.pdf" frameborder="0"></iframe>
    </div>
  </div>
</section>