<section class="section bg-dark py-0">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 offset-sm-1 offset-md-2 offset-lg-0 py-3 py-sm-6 py-lg-3 py-xl-8 align-self-center">
                <div class="card card-primary-gr card-primary-gr-hover">
                    <div class="card-body p-3 p-xl-4">
                        <h1 class="mb-2">Hey there,</h1>
                        <h2 class="heading-2">I’m Raj Kumar Dutta</h2>
                        <p class="card-text text-lg mb-4 mb-xl-5">
                            A software developer & tech enthusiast based in Bengaluru, KA.

                            Welcome to my digital domain, where I engineer solutions and ignite imaginations. </p>

                        <a class="btn stretched-link bg-white text-primary"
                            routerLink="/projects" routerLinkActive="active">projects</a>
                    </div>
                </div>
            </div>
            <div class="col align-self-center"><h1 class="text-center text-primary-gr">{{ greetingMessage }}</h1></div>
        </div>
    </div>
</section>
<section class="section section-pad-top">
    <div class="container">
        <header class="section-header section-header-alt section-header-sub mb-3 mb-md-4">
            <div class="section-header-body">
                <div class="section-header-eyebrow">
                    Self-Improvement and Growth
                </div>
                <h2 class="section-header-title">
                    <span class="text-primary-gr">
                        Currently, I am
                    </span>
                    learning Low Level Design
                </h2>
            </div>
        </header>
        <div class="row">
            <div class="col-12 col-xl-3 mb-5 mb-md-7 mb-xl-0">
                <div class="section-header section-header-sub d-xl-block mb-0 mx-xl-0">
                    <div class="section-header-body px-xl-0 mw-100">
                        <p class="mb-2 mb-md-3 mb-lg-4">
                            I am constantly striving to expand my skill set to meet the challenges of tomorrow’s tech
                            landscape. While I have gained proficiency in the Java ecosystem, I am now focusing on
                            mastering Low-Level Design (LLD). Through hands-on projects and in-depth study, I am
                            actively learning LLD principles, refining my skills to design efficient, scalable systems
                            with a strong architectural foundation. <br>
                            <br>
                            <a href="https://github.com/angKafka?tab=repositories" class="btn btn-primary-gr"><span>view
                                    all</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-9">
                <div class="row row-scroll-auto row-cols-xl-3 card-layout card-layout-fixed-4">
                    <div class="col-auto">
                        <div class="card card-primary-gr card-primary-gr-hover hover-zoom">
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title mb-1">Cache System Design</h3>
                                <p class="card-text mb-1">Optimize your cache system design with a combination of local
                                    and Redis caching to boost performance, scalability, and ensure efficient data
                                    retrieval for demanding applications.</p>
                                <a href="https://github.com/angKafka/cache_system_design/tree/master" class="stretched-link text-decoration-none text-reset mb-3"><span
                                        class="more more-bold">Learn more</span></a>
                                <img class="card-img img-fluid hover-zoom-img hover-zoom-img-br align-self-end w-auto mb-n3 mb-lg-n4 mr-n3 mr-lg-n4 mt-auto"
                                    src="../../assets/cache.svg" alt="not-image-found" id=" bold-icon-image">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card card-primary-gr card-primary-gr-hover hover-zoom">
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title mb-1">Ride-Sharing Service</h3>
                                <p class="card-text mb-1">A ride-sharing service connects drivers and passengers via a
                                    platform that allows users to request rides, track drivers, and pay for trips.</p>
                                <a href="https://github.com/angKafka/rider-sharing-service/tree/main" class="stretched-link text-decoration-none text-reset mb-3">
                                    <span class="more more-bold">
                                        Learn more
                                    </span>
                                </a>
                                <img class="card-img img-fluid hover-zoom-img hover-zoom-img-br align-self-end w-auto mb-n3 mb-lg-n4 mr-n3 mr-lg-n4 mt-auto"
                                    src="../../assets/rider.svg" alt="not_found" id=" bold-icon-image">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card card-primary-gr card-primary-gr-hover hover-zoom">
                            <div class="card-body d-flex flex-column">
                                <h3 class="card-title mb-1">Bookstore Management System</h3>
                                <p class="card-text mb-1">Designed a bookstore system where users can browse books, add them to the cart, and purchase them. The system should manage books, users, and orders.</p>
                                <a href="https://github.com/angKafka/book-management-system" class="stretched-link text-decoration-none text-reset mb-3">
                                    <span class="more more-bold">
                                        Learn more
                                    </span>
                                </a>
                                <img class="card-img img-fluid hover-zoom-img hover-zoom-img-br align-self-end w-auto mb-n3 mb-lg-n4 mr-n3 mr-lg-n4 mt-auto"
                                    src="../../assets/book.svg" alt="not_found" id=" bold-icon-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
