.card-img{
    width: 70px !important;
    height: auto;
}

.heading-2{
    font-size: 24px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.card-img{
    width: 134px !important;
    height: auto !important;
}